/* Add CSS Styling */

.first-element {
    background-color: black;
    color: white;
}

.second-element {
    background-color: yellow;
}

.fonts {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}